<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Workout</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body class="bottom">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light nav-p">
        <a class="navbar-brand" id="powerProgram" href="#">
          <img src="images/powerProgram.png" width=50 class="d-inline-block align-self-center" alt="">
          POWER PROGRAM
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/workout">Workout Programs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/exercises">Exercises</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/login">Log In</a>
                </div>
              </li>
            </ul>
          </div>
    </nav>
    <div id="backgroundImg">
        <a href="/custom" id="custom" class="btn btn-outline-dark">Get Your Customised Program</a>
    </div>
    <div class="container">
    <div class="row text-center pad">
        <h1 class="display-3 col-12">What we offer</h1>
        <p class="col-10 offset-1 pad">We want you to get the best out of your workouts by targeting the right muscles and using the appropriate techniques.
            <br>
            We provide you with a workout adapted to your experience and goals.
        </p>
    </div>

    <div class="media pad">
        <img src="images/training-828726_640.jpg"  class="align-self-center" width="300px">
        <div class="media-body text-center align-self-center">
            <h2>Customised Workout</h2>
            <p>Tell us a little bit about yourself and your workout goals so we can provide you with the best possible workout tailored to your needs.</p>
            <br>
            <a href="/custom">Find out more</a>
        </div>
    </div>
    <div class="media pad">
        <img src="images/man-1282232_640.jpg"  class="align-self-center" width="300px">
        <div class="media-body text-center align-self-center">
            <h2>Workout Programs</h2>
            <p>Browse a selection of the best powerlifting programs by level, objectives and more. </p>
            <br>
            <a href="/workout">Find out more</a>
        </div>
    </div>
    <div class="media pad">
        <img src="images/adult-1850925_640.jpg"  class="align-self-center" width="300px">
        <div class="media-body text-center align-self-center">
            <h2>Exercises</h2>
            <p>Browse a seletion of exercises according to the muscles targeted to help you build your compound lifts.</p>
            <br>
            <a href="/exercises">Find out more</a>
        </div>
    </div>
    <div class="media pad">
        <img src="images/dumbbell-1966247_640.jpg"  class="align-self-center" width="300px">
        <div class="media-body text-center align-self-center">
            <h2>Make Your Own</h2>
            <p>We guide you to make your own program choosing from our selection of exercises. You can modify and save your program to your account.</p>
            <br>
            <a href="/login">Find out more</a>
        </div>
    </div>
    </div>
    <div id="sec2" class="container">
        <div class="row text-center">
            <h1 class="display-4 col-12">Want more?</h1>
            <p class="col-12 pad">Powerlifting is in your blood and you want to take your training to the next level?<br> Discover our coaching platform.</p>
        </div>
        <div class="media pad">
            <img src="images/sport-2260736_640.jpg"  class="align-self-center" width="300px">
            <div class="media-body text-center align-self-center">
                <h2 class="display-5">Find a Coach</h2>
                <p>We match you with choaches that are specialised in your area of lifting, according to your needs to allow you to reach the maximum of your potential.</p>
                <br>
                <a>Find out more</a>
            </div>
        </div>
    </div>
    <div id="sec3" class="container">
        <div class="row text-center">
            <h1 class="display-4 col-12">Our Sponsors</h1>
            <p class="col-12 pad">Powerlifting doesn't go without a few tools to boost us. Thanks to our partnership with some of the best supplements and equipment brands, you get some awesome discounts in your favourite shops</p>
        </div>
        <div class="row pad">
            <div class="card col-4 offset-1">
                <img src = "images/pexels-victor-freitas-949132.jpg" class="card-img-top">
                <a class="card-body text-center">Shop Equipment</a>
            </div>
            <div class="card col-4 offset-2">
                <img src = "images/grilo-protein-3029338_1280.jpg" class="card-img-top">
                <a class="card-body text-center">Shop Supplements</a>
            </div>
        </div>
    </div>
</body>
</html>