<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Workout</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body class="bottom">
  <%- include('header'); %>
    <div id="background-mypage"></div>
    <div class="container">
        <h1 class="display-3 text-center pad">Welcome <%=name%></h1>
        <div class="card pad" style="border-color:#A0B2A6;">
            <div class="row">
            <div class="card" style="width: 35%;margin: 5%;">
                <img src="/images/pexels-andrea-piacquadio-3757376.jpg" class="card-img-top" alt="..." style="margin: 0.5cm; width: 90%;">
            </div>
            <ul class="list-group align-self-center" style="width: 50%;">
                <li class="list-group-item" style="margin-bottom: 0.5cm; width: fit-content;"><a href="/mypage-modify" class="lien" ><img src="/images/pen.png" width=20><span style="margin-left: 0.2cm;">Change Info </span></a></li>
                <li class="list-group-item b" style="background-color: #A0B2A6;">My Workout Space</li>
                <a class="lien" href="/yourprogram-compound"><li class="list-group-item">Create a Program</li></a>
                <a class="lien" href="/yourworkouts"><li class="list-group-item">My Programs</li></a>
                <a class="lien" href="/exercises"><li class="list-group-item">My Exercises</li></a>
              </ul>
            </div>
        </div>
    </div>
</body>
</html>