#backgroundImg {
    background-image: url('/images/background-main.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

#background {
    background-image: url('/images/background.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-mypage {
    background-image: url('/images/background-mypage.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

#background-workout {
    background-image: url('/images/background-workout.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

#background-exercises {
    background-image: url('/images/background-exercises.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

#background-custom {
    background-image: url('/images/background-custom.jpg');
    height: 400px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

#custom {
    position: absolute;
    right: 25%;
    top: 30%;
    font-size: 22px;
}

.bottom {
    padding-bottom: 2cm;
}

.media {
    background-color: rgb(235, 235, 225);
    border-radius: 5px;
    min-width: 800px;
}

.media-body {
    padding-left: 1%;
    padding-right: 1%;
}

.nav-p {
    font-size: 20px;
    background-color: #A0B2A6;
    color: ivory;
}

.pad {
    margin-top: 1cm;
}

#sec2 {
    margin-top: 3cm;
    padding-top: 1cm;
    padding-bottom: 0.5cm;
    background-color: #A0B2A6;
    min-width: fit-content;
}

#sec3 {
    margin-top: 2cm;
}

#equipment {
    width: 400px;
}

.navbar-nav {
    position: absolute;
    right: 10px;
}

p {
    font-size: 18px;
}

.card-img-top {
    margin-top: 0.5cm;
}

#dropdownMenuButton1, #dropdownMenuButton2, #dropdownMenuButton3, #dropdownMenuButton4 {
    background-color: rgb(235, 235, 225);
    border-bottom-color: black;
    border-right-color: black;
    color: black;
}

.discover {
    background-color: #A0B2A6;
}

.pad2 {
    padding: 0.5cm;
}

#flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 120%;
}

#flex > * {
    flex: 1;
    padding-left: 1cm;
}

.modal-title {
    font-size: 25px;
}

.b {
    font-weight: bold;
}

.lien {
    color: black;
}
.lien:hover {
    text-decoration: none;
}

.check {
    margin-right: 0.5cm;
}

#account {
    font-size: 18px;
    background-color:#6f8175;
}
#account:hover {
    background-color: #c0ccc4;
}

.list-group-item:hover {
    background-color: #c0ccc4;
}

#powerProgram {
    font-family: 'Kavivanar', serif;
    font-size: 24px;
}

#filter-options > * {
    margin-right: 0.2cm;
}